
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Travel &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO Hey Yall
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />


		


	<link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="{{ url_for('static', filename='style/style.css') }}" href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link href="{{ url_for('static', filename='style/animate.css') }}" rel="stylesheet">
	<!-- Icomoon Icon Fonts-->
	<link href="{{ url_for('static', filename='style/icomoon.css') }}" rel="stylesheet">
	<!-- Bootstrap  -->
	<link href="{{ url_for('static', filename='style/bootstrap.css') }}" rel="stylesheet" >
	<!-- Superfish -->
	<link href="{{ url_for('static', filename='style/superfish.css') }}" rel="stylesheet">
	<!-- Magnific Popup -->
	<link href="{{ url_for('static', filename='style/magnific-popup.css') }}" rel="stylesheet" >
	<!-- Date Picker -->
	<link href="{{ url_for('static', filename='style/bootstrap-datepicker.min.css') }}" rel="stylesheet">
	<!-- CS Select -->
	<link href="{{ url_for('static', filename='style/cs-select.css') }}" rel="stylesheet" >
	<link href="{{ url_for('static', filename='style/cs-skin-border.css') }}" rel="stylesheet" >
	
	<link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static', filename='style/tabledata.css') }}" rel="stylesheet" >



	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src= "{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html"><i class="icon-airplane"></i>BNS~Travel</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="employee.html">Admin Main</a></li>
							<li><a href="flightdata.html">Flights</a></li>
							<li><a href="hoteldata.html">Hotel</a></li>
							<li><a href="cardata.html">Car</a></li>
                            <li class="active"><a href="busdata.html">Bus</a></li>

							<li><a href="cruisedata.html"> Cruise </a></li>
							<!--<li><a href="carddata.html">Payment</a></li>-->
                            
						</ul>
					</nav>
				</div>
			</div>
		</header>


		

		<div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-16 col-md-offset-1 text-center fh5co-heading">
					<h1>The Bus Table</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Bus_ID</th>
          <!--<th>Bus_Number</th>-->
		  <th>Bus_Company</th>
          <th>Bus_Fare</th>
          <th>Source_Bus_Stop</th>
          <th>Destination_Bus_Stop</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
         {% for item in data %}
<tr>
    <td>{{item[0]}}</td>
    <!--<td>{{item[1]}}</td>-->
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
   <td>{{item[5]}}</td>

</tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</section>

				</div>
			</div>

		</div>
	</div>
		<footer>
			<div id="footer">
				<!--<div class="container">-->
					<!--<div class="row row-bottom-padded-md">-->
						<!--<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">-->
							<!--<h3>About Travel</h3>-->
							<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
						<!--</div>-->
						<!--<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">-->
							<!--<h3>Top Flights Routes</h3>-->
							<!--<ul>-->
								<!--<li><a href="#">Manila flights</a></li>-->
								<!--<li><a href="#">Dubai flights</a></li>-->
								<!--<li><a href="#">Bangkok flights</a></li>-->
								<!--<li><a href="#">Tokyo Flight</a></li>-->
								<!--<li><a href="#">New York Flights</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">-->
							<!--<h3>Top Hotels</h3>-->
							<!--<ul>-->
								<!--<li><a href="#">Boracay Hotel</a></li>-->
								<!--<li><a href="#">Dubai Hotel</a></li>-->
								<!--<li><a href="#">Singapore Hotel</a></li>-->
								<!--<li><a href="#">Manila Hotel</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">-->
							<!--<h3>Interest</h3>-->
							<!--<ul>-->
								<!--<li><a href="#">Beaches</a></li>-->
								<!--<li><a href="#">Family Travel</a></li>-->
								<!--<li><a href="#">Budget Travel</a></li>-->
								<!--<li><a href="#">Food &amp; Drink</a></li>-->
								<!--<li><a href="#">Honeymoon and Romance</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">-->
							<!--<h3>Best Places</h3>-->
							<!--<ul>-->
								<!--<li><a href="#">Boracay Beach</a></li>-->
								<!--<li><a href="#">Dubai</a></li>-->
								<!--<li><a href="#">Singapore</a></li>-->
								<!--<li><a href="#">Hongkong</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">-->
							<!--<h3>Affordable</h3>-->
							<!--<ul>-->
								<!--<li><a href="#">Food &amp; Drink</a></li>-->
								<!--<li><a href="#">Fare Flights</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<!--<p class="fh5co-social-icons">-->
								<!--<a href="#"><i class="icon-twitter2"></i></a>-->
								<!--<a href="#"><i class="icon-facebook2"></i></a>-->
								<!--<a href="#"><i class="icon-instagram"></i></a>-->
								<!--<a href="#"><i class="icon-dribbble2"></i></a>-->
								<!--<a href="#"><i class="icon-youtube"></i></a>-->
							<!--</p>-->
							<p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
						</div>
					</div>
				<!--</div>-->

			</div>
		</footer>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src= "{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src= "{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src= "{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<script src= "{{ url_for('static', filename='js/sticky.js') }}" ></script>

	<!-- Stellar -->
	<script src= "{{ url_for('static', filename='js/jquery.stellar.min.js') }}" ></script>
	<!-- Superfish -->
	<script src= "{{ url_for('static', filename='js/hoverIntent.js') }}" ></script>
	<script src= "{{ url_for('static', filename='js/superfish.js') }}" ></script>
	<!-- Magnific Popup -->
	<script src= "{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/magnific-popup-options.js') }}"></script>
	<!-- Date Picker -->
	<script src= "{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}" ></script>
	<!-- CS Select -->
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script src= "{{ url_for('static', filename='js/selectFx.js') }}" ></script>
	
	<!-- Main JS -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabledata.js') }}"></script>

	</body>
</html>
